{%- extends "base.html" -%}
{%- from "bootstrap/pagination.html" import render_pagination -%}
{%- import "bootstrap/wtf.html" as wtf -%}
{%- block mycontent -%}
    <div class="well well-lg">
	
		<h1>Stock Suggestion Output</h1>

		<h2>Let's start investing!</h2>

		Time: {{PortfolioCombinedInfo.time}} <br><br>

		Strategy: {{PortfolioCombinedInfo.strategy}} <br><br>
		Portfolio Value: ${{PortfolioCombinedInfo.portfoliovalue}} <br>
		Money Amount Returned: ${{PortfolioCombinedInfo.returnedmoney}} <br><br><br>

		Shares Information <br>


		<h3>{{PortfolioCombinedInfo.stockonename}}</h3>	
		Symbol: {{PortfolioCombinedInfo.stockonesymbol}} <br>
		Price: {{PortfolioCombinedInfo.stockoneprice}} <br>
		Number of shares bought: {{PortfolioCombinedInfo.stockonesharesbought}} <br>
		Total Shares Value: {{PortfolioCombinedInfo.stockonesharestotalvalue}} <br> <br>


		<h3>{{PortfolioCombinedInfo.stocktwoname}}</h3> 
			
			Symbol: {{PortfolioCombinedInfo.stocktwosymbol}} <br>
			Price: {{PortfolioCombinedInfo.stocktwoprice}} <br>
			Number of shares bought: {{PortfolioCombinedInfo.stocktwosharesbought}} <br>
			Total Shares Value: {{PortfolioCombinedInfo.stocktwosharestotalvalue}} <br> <br>

			
		<h3>{{stockthreename}}</h3> 
			
			Symbol: {{PortfolioCombinedInfo.stockthreesymbol}} <br>
			Price: {{PortfolioCombinedInfo.stockthreeprice}} <br>
			Number of shares bought: {{PortfolioCombinedInfo.stockthreesharesbought}} <br>
			Total Shares Value: {{PortfolioCombinedInfo.stockthreesharestotalvalue}} <br> <br>


	</div>

{%- endblock -%}