{% extends "base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% import "bootstrap/wtf.html" as wtf %}
{% block mycontent %}

    <h1>{{ title }}</h1>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th class="hidden-xs">Amount</th>
            <th class="hidden-xs">Strategies</th>
            <th class="hidden-xs">Invest At</th>
        </tr>
        </thead>
        <tbody>
        {% for investment in investments %}
            <tr class="animated fadeIn delay-{{ loop.index0 }}">
                <td><a href="{{ url_for('investment.detail',investment_id=investment.id) }}">{{ investment.id }}</a></td>
                <td>{{ investment.amount }}</td>
                <td>{{ investment.strategies }}</td>
                <td>{{ investment.investAt.strftime('%Y-%m-%d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination and pagination.pages > 1 %}
        <div class="container-fluid text-center">
            {{ render_pagination(pagination) }}
        </div>
    {% endif %}
{%- endblock -%}