{%- extends "base.html" -%}
{%- from "bootstrap/pagination.html" import render_pagination -%}
{%- import "bootstrap/wtf.html" as wtf -%}
{%- block mycontent -%}
    <div class="well well-lg">
	
		<h1>Stock Suggestion Output</h1>

		<h2>Let's start investing!</h2>

		Time: {{time}} <br><br><br>


		<h4>Strategy 1: {{strategy}}</h4> 

		Portfolio Value: ${{portfoliovalue}} <br>
		Money Amount Returned: ${{returnedmoney}} <br><br><br>


		{{stockonename}} <br>
		Symbol: {{stockonesymbol}} <br>
		Price: ${{stockoneprice}} <br>
		Number of shares bought: {{stockonesharesbought}} <br>
		Total Shares Value: ${{stockonesharestotalvalue}} <br><br><br>


		{{stocktwoname}}<br>
		Symbol: {{stocktwosymbol}} <br>
		Price: ${{stocktwoprice}} <br>
		Number of shares bought: {{stocktwosharesbought}} <br>
		Total Shares Value: ${{stocktwosharestotalvalue}} <br><br><br>

			
		{{stockthreename}}<br>
		Symbol: {{stockthreesymbol}} <br>
		Price: ${{stockthreeprice}} <br>
		Number of shares bought: {{stockthreesharesbought}} <br>
		Total Shares Value: ${{stockthreesharestotalvalue}} <br><br><br>
	


	</div>

{%- endblock -%}